.red {
    color: red;
}

.info {
    border: 2px solid green;
    margin: 10px;
    padding: 5px;
    width: 400px;
}

.count-container {
    display: flex;
}

.count-container > * {
    margin: 0 10px;
}